In [2]:
import pandas as pd
import numpy as np

In [5]:
df = pd.read_csv(r"C:\Users\aryam\OneDrive\Desktop\DATA ANALYTICS\zeno talent internship\sample task\hr_data.csv")
df.head()

,employee_id,employee_name,department,designation,salary,attendance_days,working_days,overtime_hours,overtime_pay,salary_credit_amount,salary_credit_date,bank_account,employment_status
0,1,Asha,IT,Analyst,30000.0,NaN,22,12.0,1800.0,30000.0,2025-01-31,ACCT1001,Active
1,2,Rahul,Sales,Executive,35000.0,18.0,22,0.0,NaN,35000.0,2025-01-31,ACCT1002,Active
2,3,Meena,Finance,Manager,50000.0,22.0,22,55.0,6000.0,56000.0,2025-01-31,ACCT1003,Active
3,4,John,HR,Analyst,28000.0,20.0,22,8.0,1200.0,28000.0,2025-01-31,ACCT1004,Inactive
4,5,Riya,IT,Executive,42000.0,NaN,22,15.0,2250.0,46000.0,2025-01-31,ACCT1005,Active

In [9]:
df.shape

(100, 13)

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 13 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   employee_id           100 non-null    int64
 1   employee_name         100 non-null    object
 2   department            100 non-null    object
 3   designation           100 non-null    object
 4   salary                100 non-null    float64
 5   attendance_days       71 non-null     float64
 6   working_days          100 non-null    int64
 7   overtime_hours        93 non-null     float64
 8   overtime_pay          86 non-null     float64
 9   salary_credit_amount  100 non-null    float64
 10  salary_credit_date    100 non-null    object
 11  bank_account          100 non-null    object
 12  employment_status     100 non-null    object
dtypes: float64(5), int64(2), object(6)
memory usage: 10.3+ KB

In [8]:
df.columns

Index(['employee_id', 'employee_name', 'department', 'designation', 'salary',
       'attendance_days', 'working_days', 'overtime_hours', 'overtime_pay',
       'salary_credit_amount', 'salary_credit_date', 'bank_account',
       'employment_status'],
      dtype='object')

In [10]:
df.columns = df.columns.str.strip().str.lower().str.replace(' ', '_')
df.columns

Index(['employee_id', 'employee_name', 'department', 'designation', 'salary',
       'attendance_days', 'working_days', 'overtime_hours', 'overtime_pay',
       'salary_credit_amount', 'salary_credit_date', 'bank_account',
       'employment_status'],
      dtype='object')

In [11]:
df['attendance_days'] = df['attendance_days'].fillna(0)

In [12]:
df['overtime_hours'] = df['overtime_hours'].fillna(0)

In [13]:
df['salary_credit_date'] = pd.to_datetime(df['salary_credit_date'], errors='coerce')

In [14]:
df['attendance_missing'] = np.where(df['attendance_days'] == 0, 'Yes', 'No')

In [15]:
df['salary_leakage'] = np.where(
    df['salary_credit_amount'] > df['salary'],
    df['salary_credit_amount'] - df['salary'],
    0
)

In [16]:
df['overtime_abuse'] = np.where(df['overtime_hours'] > 40, 'Yes', 'No')

In [17]:
df['ghost_employee'] = np.where(
    (df['employment_status'] == 'Inactive') & (df['salary_credit_amount'] > 0),
    'Yes',
    'No'
)

In [18]:
df.duplicated().sum()

np.int64(0)

In [19]:
df = df.drop_duplicates()

In [20]:
df['department'] = df['department'].str.strip().str.title()
df['designation'] = df['designation'].str.strip().str.title()
df['employment_status'] = df['employment_status'].str.strip().str.title()

In [21]:
df['cost_per_employee'] = df['salary_credit_amount'] + df['overtime_pay']

In [22]:
df['payroll_accuracy'] = np.where(
    (df['salary_leakage'] == 0) & (df['attendance_missing'] == 'No'),
    'Accurate',
    'Review'
)

In [35]:
df.to_csv("hr_payroll_cleaned.csv", index=False)

In [25]:
df.isnull().sum()

employee_id              0
employee_name            0
department               0
designation              0
salary                   0
attendance_days          0
working_days             0
overtime_hours           0
overtime_pay            14
salary_credit_amount     0
salary_credit_date       0
bank_account             0
employment_status        0
attendance_missing       0
salary_leakage           0
overtime_abuse           0
ghost_employee           0
cost_per_employee       14
payroll_accuracy         0
dtype: int64

In [30]:
df[['salary', 'salary_credit_amount', 'overtime_pay']].describe()

             salary  salary_credit_amount  overtime_pay
count    100.000000            100.000000     86.000000
mean   44540.000000          46105.000000   2981.395349
std    12057.455047          13401.585727   2852.223555
min    28000.000000          28000.000000      0.000000
25%    35000.000000          35000.000000   1200.000000
50%    40500.000000          42000.000000   1725.000000
75%    57250.000000          58250.000000   5062.500000
max    70000.000000          78000.000000   9500.000000

In [34]:
df.isnull().sum()

employee_id             0
employee_name           0
department              0
designation             0
salary                  0
attendance_days         0
working_days            0
overtime_hours          0
overtime_pay            0
salary_credit_amount    0
salary_credit_date      0
bank_account            0
employment_status       0
attendance_missing      0
salary_leakage          0
overtime_abuse          0
ghost_employee          0
cost_per_employee       0
payroll_accuracy        0
dtype: int64

In [32]:
df['overtime_pay'] = df['overtime_pay'].fillna(0)

In [33]:
df['cost_per_employee'] = df['salary_credit_amount'] + df['overtime_pay']